.publicacion-foro {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.publicacion-foro label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block; /* Asegura que el label esté en una nueva línea */
}

.publicacion-foro textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
}

.publicacion-foro button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el hover */
  border-radius: 0; /* Puntas cuadradas */
}

.publicacion-foro button:hover {
  background-color: var(--primary); /* Color de fondo al pasar el mouse */
}

.mensaje-sesion {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados para el contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    text-align: center; /* Centra el texto */
  }
  
  .mensaje-sesion p {
    font-size: 1.6rem; /* Tamaño de la fuente del mensaje */
    margin: 0; /* Elimina el margen por defecto */
  }
  
  .mensaje-sesion button {
    margin-top: 10px; /* Espacio arriba del botón */
    padding: 10px 20px; /* Espacio dentro del botón */
    background-color: var(--black); /* Color de fondo del botón */
    color: var(--white); /* Color del texto del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: 700; /* Peso de la fuente */
    transition: background-color 0.3s; /* Transición para el efecto hover */
  }
  
  .mensaje-sesion button:hover {
    background-color: var(--primary); /* Color de fondo al pasar el mouse */
  }