.mensaje-sesion {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordes redondeados para el contenedor */
  background-color: #f9f9f9; /* Color de fondo */
  text-align: center; /* Centra el texto */
}

.mensaje-sesion p {
  font-size: 1.6rem; /* Tamaño de la fuente del mensaje */
  margin: 0; /* Elimina el margen por defecto */
}

.mensaje-sesion button {
  margin-top: 10px; /* Espacio arriba del botón */
  padding: 10px 20px; /* Espacio dentro del botón */
  background-color: var(--black); /* Color de fondo del botón */
  color: var(--white); /* Color del texto del botón */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: 700; /* Peso de la fuente */
  transition: background-color 0.3s; /* Transición para el efecto hover */
}

.mensaje-sesion button:hover {
  background-color: var(--primary); /* Color de fondo al pasar el mouse */
}

.mensaje-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ffc107; /* Color amarillo */
  border-radius: 5px;
  background-color: #fff3cd; /* Fondo amarillo claro */
  margin-top: 10px;
}

.lista-canciones {
  font-family: "Arial", sans-serif;
}

.lista-canciones h2 {
  text-align: center;
  margin-bottom: 20px;
}

.lista-canciones-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px; /* Espacio entre columnas */
  list-style-type: none;
  padding: 0;
}

.lista-canciones li {
  margin-bottom: 10px;
}

.boton-cancion {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: 2px solid var(--primary);
  border-radius: 0; /* Esquinas rectas */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%; /* Ancho completo de la columna */
  text-align: left; /* Alinea el texto a la izquierda */
}
.boton-cancion:hover {
  background-color: var(--white);
  color: black;
}

.boton-cancion.reproduciendo {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}

audio {
  width: 100%;
  margin-top: 20px;
  border: none; /* Sin borde */
  border-radius: 0; /* Esquinas rectangulares (sin redondeo) */
}

.info-cancion {
  display: flex;
  justify-content: left; /* Centra los elementos horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 10px; /* Espacio entre el título y el artista */
  margin-top: 20px;
  margin-left: 5rem;
}

.info-cancion h3 {
  font-size: 24px;
  margin: 0; /* Elimina los márgenes predeterminados */
}

.info-cancion p {
  font-size: 24px;
  margin: 0; /* Elimina los márgenes predeterminados */
}

.busqueda {
  width: 300px; /* Ajusta el ancho según sea necesario */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente más grande */
  border: 1px solid #ccc; /* Borde ligero */
  border-radius: 0; /* Bordes redondeados */
}

.divbusqueda {
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 20px 0;
}
